# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter Notebook
**/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
